// responsive breakpoints
$break-small-portrait: 20rem;
$break-medium-portrait: 30rem;
$break-small-landscape: 46.875rem;
$break-medium: 64rem;
$break-large: 70.25rem;
$landscape: landscape;
$break-small-landscape-plus-one: 46.9375rem;
$break-medium-minus-one: 63.9375rem;
$phone-landscape-width: 40rem;

@mixin respond-to($media) {
    @if $media == small-phones {
        @media only screen and (min-width: $break-small-portrait) { @content; }
    }

    @if $media == medium-phones {
        @media only screen and (min-width: $break-medium-portrait) and (max-width: $break-small-landscape) { @content; }
    }

    @if $media == phones {
        @media only screen and (min-width: $break-small-portrait) and (max-width: $break-small-landscape) { @content; }
    }

    @else if $media == tablets {
        @media only screen and (min-width: $break-small-landscape-plus-one) and (max-width: $break-medium-minus-one) { @content; }
    }

    @else if $media == tablets-landscape {
        @media only screen and (min-width: $break-small-landscape-plus-one) and (max-width: $break-medium) and (orientation: $landscape) { @content; }
    }

    @else if $media == phones-tablets {
        @media only screen and (min-width: $break-small-portrait) and (max-width: $break-medium-minus-one) { @content; }
    }

    @else if $media == wide-screens {
        @media only screen and (min-width: $break-large) { @content; }
    }

    @else if $media == custom-phones-tablets {
        @media only screen and (min-width: $break-small-portrait) and (max-width: $break-medium) { @content; }
    }

    @else if $media == phone-landscape {
        @media only screen and (min-width: $break-small-portrait) and (max-width: $phone-landscape-width) and (orientation: $landscape) { @content; }
    }

    @else if $media == mobile-only {
        @media only screen and (max-width: $break-small-landscape) { @content; }
    }
}
